* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.calendar-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
